.card-images {
    height:250px !important;
}

.card-box {
    height: 500px;
}

.selected-card {
    border:3px solid red;
}

.pointer {
    cursor: pointer;
}

.star-icon {
    font-size: 20px;
    cursor: pointer;
}